.app {
	overflow-x: hidden;
	text-align: center;
}

.app header nav {
	position: fixed;
	top: 0;
	z-index: 5;
}

.app header nav img {
	max-width: 50px;
	max-height: 50px;
}

.app footer {
	padding: 1em;
	height: 5vh;
	min-height: 5vh;
	background-color: #3498db;
}

.app footer a {
	color: #24292e;
	text-decoration: none;
}